.app-d{
    margin: auto auto;
    margin-top: 100px;
    font-size:max(2vw, 20px) ;
    text-align: center;
    font-weight: 500;
}

.platform{
    display: flex;
    justify-content: center;
    /* set spacing between child elements in flexbox,grid */
    gap: max(2vw, 10px);
    margin-top: 40px;
}

.platform img{
    width: max(10vw, 120px);
    /* jo bada hoga usko priority milti hai */
    /* No need for media queries  */
    
    max-width: 180 px;
    transition: 0.5s;
    cursor: pointer;
}

.platform img:hover{
   transform: scale(1.05);
}

/* When the img changes (e.g., on hover), the effect will be gradual and smooth over 0.5 seconds. */